<body>
      {{ title }}
      <br>
    la descriupcion es:   {{ descripcion }}
      <br>
      <input [(ngModel)]="descripcion" >

      <p *ngIf="MostrarDescipcion === true">
        una vez mas la descripcion es: {{ descripcion }}
      </p>

    <ul>
      <li *ngFor="let misItems of juegos">
        {{ misItems }}
      </li>
    </ul>

    <br>

    <div *ngFor="let misItems of juegos">
      {{ misItems }}
    </div>


      <button (click)="haciendoClick()">Hazme click</button>

      <input (input)="cuandoCambieAlgo($event)" placeholder="Escribe algo">

      <p (mouseover)="pasaMouse()" (mouseout)="saleMouse()"> Ejemplo de eventos de mouse </p>


 </body>
